
.modal{
    width: 300px;
    height: 200px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    border: 1px solid cadetblue;
    border-radius: 5px;
    position: absolute;
    z-index: 233333;
    background-color: aliceblue;

}

.actions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.actions button{
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background-color:cadetblue ;
    color: #fff;
    width: 120px;
}

.worning{
    color: red;
}

.modal_wrapper {
    position:fixed;
    display:flex;
    width:100%;
    height:100vh;
    justify-content:center;
    align-items:center;
    background:rgba(248, 247, 247, 0.776);
    z-index:100;
}